<div class="bubble-wrapper">
    <div class="bubble-animated-one">
        <img src="/themes/custom/ziston_sub/images/bubble_1.png" height="20px" width="20px">
    </div>
    <div class="bubble-animated-two">
        <img src="/themes/custom/ziston_sub/images/bubble_2.png" height="20px" width="20px">
    </div>
    <div class="bubble-animated-three">
        <img src="/themes/custom/ziston_sub/images/bubble_3.png" height="20px" width="20px">
    </div>
    <div class="bubble-animated-four">
        <img src="/themes/custom/ziston_sub/images/bubble_3.png" height="20px" width="20px">
    </div>
</div>