<div class="bubble-wrapper">
    <div class="bubble bubble-animated-one">
        <img src="themes/custom/ziston_sub/images/bubble_1.png" height="20px" width="20px">
    </div>
    <div class="bubble bubble-animated-two">
        <img src="/themes/custom/ziston_sub/images/bubble_2.png" height="20px" width="20px">
    </div>
    <div class="bubble bubble-animated-three">
        <img src="/themes/custom/ziston_sub/images/bubble_3.png" height="20px" width="20px">
    </div>
    <div class="bubble bubble-animated-four">
        <img src="/themes/custom/ziston_sub/images/bubble_4.png" height="25px" width="25px">
    </div>
    <div class="bubble bubble-animated-five">
        <img src="/themes/custom/ziston_sub/images/bubble_5.png" height="67px" width="84px">
    </div>
</div>