{% for item in items %}
    <div class="gabev-icon mb-1">
        <img src="/themes/custom/ziston_sub/images/ga-state.png" alt="{{ 'georgia beverage state'|t }}" height="20px" width="20px"> {{ item.content }}
    </div>
{% endfor %}
