/* Georgia Bev CSS Overrides */

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-weight: 500;
}

h3 {
  font-size: 30px;
  font-weight: 500;
  color: #41787d;
}

a {
  color: #de4928;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

b, strong {
  font-weight: 500;
  color: #262626;
  font-size: 105%;
}
/* Header */
.header-default .header-main .header-content-inner .branding .site-branding-logo img {
  max-width: 100%;
}

/*
.header-default .header-main .header-content-inner .branding {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 360px;
  flex: 0 0 360px;
  width: 360px;
}

.header-default .header-main .header-content-inner .header-inner {
  -ms-flex: 0 0 calc(100% - 360px);
  flex: 0 0 calc(100% - 360px);
}
*/

/* Navigation */
.navigation .gva_menu > li > a {
  font-weight: 500;
  color: #5A5C58 !important;
  padding: 0 10px;
  font-size: .9rem;
  line-height: 1.2;
}

.nav-tabs > li > a {
  font-weight: 500;
}
/* Breadcrumb */
.breadcrumb-content-inner .gva-block-breadcrumb .page-title {
  font-weight: 400;
}

.breadcrumb-content-inner .breadcrumb-content-main {
  padding: 120px 15px 1px;
}

.breadcrumb-content-inner .gva-block-breadcrumb .page-title {
  font-size: 50px;
  top: -19px;
  font-weight: 100 !important;
}

.region-main-page-content.layout-with-sidebar {
  padding: 0;
}

.breadcrumb-content-inner .gva-block-breadcrumb.text-white .page-title, .breadcrumb-content-inner .gva-block-breadcrumb.text-light .page-title {
  color: #52808e;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.08);
}

h2 {
  color: #52808e !important;
  font-weight: 200;
}

.sidebar .block .block-title:after {
  display: none;
}

.sidebar .block .block-title {
  text-transform: none;
  font-weight: 400;
  margin-bottom: 20px;
  padding-bottom: 5px;
}

div#block-twitterblock h2.block-title::before {
  font-family: 'FontAwesome';
  color: #DE4928;
  content: '\f099';
  margin: 0 .5rem 0 0;
}

.breadcrumb-content-inner .gva-block-breadcrumb .breadcrumb-links {
  display: none;
}

/* Front */
.frontpage .gbb-row .bb-inner {
  padding-top: 15px;
  padding-bottom: 15px;
}

.frontpage h5 {
  line-height: 1.5;
  color: #797f89;
}

.frontpage .breadcrumb-content-inner .gva-block-breadcrumb.text-light .page-title {
  top: 110px;
  position: absolute;
  margin: 0 auto;
  text-align: center;
  font-size: 35px;
}

.frontpage .breadcrumb-content-inner .breadcrumb-content-main {
  padding: 0 0 2rem!important;
  padding-top: 170px !important;
}

.frontpage .block.block-system-breadcrumb-block {
  margin-bottom: -100px;
}

div#block-gaviascontentbuilderfrontlogos img {
  max-height: 90px;
  padding: .5rem;
}

.sidebar .block {
  background: #fff;
}

.footer-center {
  display: none;
}

#footer .copyright {
  background: #5b5d59;
  border-top: 1px solid rgb(91 93 89);
  color: white;
  padding: 20px 0;
}

.node-135 .gbb-row .bb-inner {
  padding-top: 0;
}

.topbar {
  background: #de4928;
  padding: 0;
  font-size: 12px;
}

.topbar .topbar-wrapper .topbar-content a {
  color: white;
}

.flaticon-magnifying-glass:before {
  color: white;
}

#footer a {
  color: white;
}

#footer a:hover {
  color: white !important;
  text-decoration: underline !important;
}

.gabev-icon img {
  vertical-align: middle;
  top: -2px !important;
  margin: 0 3px 0 0;
  position: relative;
}

.gabev-icon a {
  color: #de4928;
}

.gabev-icon a:HOVER {
  color: black;
}

#listing-main-map .gva-icon-map .icon-map .icon-cat {
  content: '';
  background: url(../images/ga-state-trans.png) no-repeat center center;
  background-size: auto;
  background-size: 30px 30px;
}

.btn-theme-small {
  font-weight: 500 !important;
}

.gva-user-region.show .user-content a {
  color: #de4928;
}

.gsc-heading.style-1 .title {
  font-weight: 500;
  color: #41787d !important;
}

.gsc-heading .sub-title {
  font-size: 18px;
  text-transform: none;
  font-weight: 500;
  line-height: 1.3;
  margin: 0 0 30px;
}

#remove-pt .bb-inner.remove_margin {
  padding-top: 0 !important;
  margin-top: 0 !important;
}

.node-134 hr {
  margin: 2rem 0;
}

.node-134 p {
  line-height: 1.2;
}

.node-134 h6 {
  font-size: 18px;
  font-weight: 500;
  color: #41787d !important;
}

.navigation .gva_menu .sub-menu > li > a {
  line-height: 1.2;
}

.gva-navigation {
  margin: 0 50px 0;
}

.sidebar img {
  margin: 0 0 3rem;
}

.path-taxonomy ul[data-drupal-views-infinite-scroll-pager].pager {
  margin: 0 0 30px 30px;
}

.path-taxonomy .page-title {
  margin: 50px 0 0 0;
}

.frontpage div#content {
  margin: 100px 0 0 0;
}

.frontpage  .bb-container.container-fw {
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  padding: 30px 0;
}

/* Floating Bubbles */
@-webkit-keyframes fade-in {
  0%{
    opacity: 0;
    top:1200px;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: -150px;
  }
}

.bubble-animated-one {
  display: inline;
  position: absolute;
  -webkit-animation: fade-in 2s infinite;
  -webkit-animation-delay: 2s;
  animation-duration: 8s;
  animation-iteration-count: 1;
  margin: 0 auto;
  float: left;
  text-align: center;
  width: 100%;
  bottom: -30px;
}

.bubble-animated-two {
  opacity: 0;
  display: inline;
  position: absolute;
  margin-left: -25%;
  -webkit-animation: fade-in 2s infinite;
  -webkit-animation-delay: 7s;
  animation-duration: 10s;
  animation-iteration-count: 1;
  float: left;
  text-align: center;
  width: 100%;
  bottom: 0;
}

.bubble-animated-three {
  opacity: 0;
  display: inline;
  position: absolute;
  margin-left: 35%;
  -webkit-animation: fade-in 5s infinite;
  -webkit-animation-delay: 12s;
  animation-duration: 10s;
  animation-iteration-count: 1;
  float: left;
  text-align: center;
  width: 100%;
  bottom: 0;
}

.bubble-animated-four {
  opacity: 0;
  display: inline;
  position: absolute;
  margin-left: -35%;
  -webkit-animation: fade-in 5s infinite;
  -webkit-animation-delay: 15s;
  animation-duration: 10s;
  animation-iteration-count: 1;
  float: left;
  text-align: center;
  width: 100%;
  bottom: 0;
}

.bubble-wrapper {
  display: inline;
  text-align: center;
  margin: 0 auto;
  height: 100vmin;
}

.content-main {
  height: 100vmin;
  width: 100%;
  float: left;
  margin: 0 auto;
}