/* Georgia Bev CSS Overrides */
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-weight: 500;
}

h2 {
  color: #52808e !important;
  font-weight: 200;
}

h3 {
  color: #41787d;
  font-size: 30px;
  font-weight: 500;
  margin-top: 22px;
  margin-bottom: 7px;
}

h4 {
  margin-bottom: 5px;
  color: #464646;
  font-size: 25px;
}

a {
  color: #de4928;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

b, strong {
  font-weight: 700;
  color: #797f89;
  font-size: 96%;
}

/**/

/* Navigation */
.navigation .gva_menu > li > a {
  font-weight: 600 !important;
  color: #5a5c58 !important;
  padding: 0 5px;
  font-size: .9rem;
  line-height: 1.2;
}

.navigation .gva_menu .sub-menu > li > a:hover,
.navigation .gva_menu .sub-menu > li > a:active,
.navigation .gva_menu > li > a:hover,
.navigation .gva_menu > li > a:after,
.navigation .gva_menu > li > a:active {
  text-decoration: none;
  color: #de4928 !important;
  font-weight: 600;
  font-size: .9rem;
}

.navigation .gva_menu > li > a {
  font-weight: 600 !important;
  color: #5a5c58 !important;
  padding: 0 8px;
  font-size: .9rem;
  line-height: 1.2;
}

.navigation .gva_menu .sub-menu > li > a {
  font-size: .9rem;
  font-weight: 600 !important;
  line-height: 1.2;
}

.gva-navigation {
  margin: 0 50px 0;
}

.header-default .main-menu-inner {
  float: right;
  margin: 0 0 0 105px;
}

/* Breadcrumb */
.breadcrumb-content-inner .breadcrumb-content-main {
  padding: 120px 15px 1px;
}

.breadcrumb-content-inner .gva-block-breadcrumb .page-title {
  font-size: 35px;
  font-weight: 600 !important;
  color: #52808e;
  text-align: center;
  top: -19px;
}

h2.page-title::after {
  content: '';
  position: absolute;
  width: 70px;
  height: 2px;
  background: #de492880;
  left: 46%;
  bottom: 0;
  top: 50px;
  z-index: 1;
  margin: 0 auto !important;
}

#green-bkgnd {
  background: #1272331a;
}

#blue-bkgrnd {
  background: rgba(130, 206, 255, 0.23);
}

#yellow-bkgrnd {
  background: #fbf5581f;
}

#green-bkgnd p,
#yellow-bkgrnd p,
#blue-bkgrnd p {
  color: #000 !important;
}

.gsc-heading.style-1 .title {
  font-size: 40px;
}

.breadcrumb-content-inner .gva-block-breadcrumb .breadcrumb-links {
  display: none;
}

/**/

/* Sidebar */
.sidebar .block .block-title:after {
  display: none;
}

.sidebar .block .block-title {
  text-transform: none;
  font-weight: 400;
  margin-bottom: 20px;
  padding-bottom: 5px;
}

.sidebar .block {
  background: #fff;
}

.sidebar img {
  margin: 0 0 3rem;
}

/**/

/* Blocks */
div#block-twitterblock h2.block-title::before {
  font-family: 'FontAwesome';
  color: #de4928;
  content: '\f099';
  margin: 0 .5rem 0 0;
}

div#block-gaviascontentbuilderfrontlogos img {
  max-height: 90px;
  padding: .5rem;
}

#block-gaviascontentbuilderfrontlogos .bb-container.container-fw {
  padding: 30px 0;
}

#block-gaviascontentbuilderfrontlogos .gbb-row .bb-inner {
  padding-top: 0;
  padding-bottom: 0;
}

div#block-gaviascontentbuilderfrontlogos {
  margin: 0 3rem;
  border-top: 1px solid #e9ecef;
}

div#block-gabevmap h2.block-title::before {
  font-family: 'FontAwesome';
  color: #de4928;
  content: '\f279';
  margin: 0 .5rem 0 0;
}

h2#block-menusecond-2-menu::before {
  font-family: 'FontAwesome';
  color: #de4928;
  content: '\f0c9';
  margin: 0 .5rem 0 0;
}

span.gva-map-content-popup span.image {
  display: none !important
}

div#block-addthis {
  margin: 50px 0 70px 10px;
}

#block-addthis h2.block-title {
  color: #52808e !important;
  font-size: 14px !important;
  padding: 0 !important;
  margin: 0 0 0.5rem .3rem !important;
}

#block-addthis h2.block-title::before {
  font-family: 'FontAwesome';
  color: #de4928;
  content: '\f064';
  margin: 0 .5rem 0 0;
}

#member-block p {
  font-size: .85rem;
  line-height: 1.2;
}

#member-block h5 {
  margin-top: 0 !important;
  margin-bottom: 5px !important;
  line-height: 1.2;
  font-size: 1rem;
}

#member-block .item-columns {
  padding: 0 3.5rem !important;
  margin: 0 0 1rem !important;
}

#member-block .hr {
  border-bottom: 1px solid #ccc;
}

#ga-banner .block {
  margin-bottom: 0 !important;
}

.sidebar .block .block-title {
  margin-bottom: 2rem;
  padding-bottom: 0;
}

.sidebar h2.block-title {
  color: #52808e !important;
  font-size: 20px !important;
  font-weight: 600 !important;
}

.sidebar .listing-block.teaser_1 .listing-content .listing-info .title {
  font-size: 18px !important;
  margin: 0 0 4px !important;
}

/* Nodes */
.node-135 .gbb-row .bb-inner {
  padding-top: 0;
}

.node-134 hr {
  margin: 0 0 1rem;
}

.node-134 p {
  line-height: 1.2;
}

.node-134 h3 {
  font-size: 22px;
  line-height: 1.2;
}

.node-134 h6 {
  font-size: 18px;
  font-weight: 500;
  color: #41787d !important;
}

.node-112 .gbb-row .bb-inner {
  padding-top: 0;
  padding-bottom: 40px;
}

.node-134 .column-content.card {
  min-height: 210px;
  margin: 0 0 25px;
}

/**/

/* Top bar */
.topbar {
  background: #de4928;
  padding: 0;
  font-size: 12px;
}

.topbar .topbar-wrapper .topbar-content a {
  color: white;
}

.topbar .topbar-wrapper .topbar-content a:hover {
  color: white;
}

/**/

/* Header */
.header-default .header-main .header-content-inner .branding .site-branding-logo img {
  max-width: 100%;
}

.gsc-heading.style-1 .title {
  font-weight: 500;
  color: #41787d !important;
}

.gsc-heading .sub-title {
  font-size: 18px;
  text-transform: none;
  font-weight: 500;
  line-height: 1.3;
  margin: 0 0 30px;
}

.header-default .header-main .header-content-inner .header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* -webkit-box-flex: 0; */
  -ms-flex: 0 0 calc(100% - 300px) !important;
  /* flex: 0 0 calc(100% - 100px); */
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
}

.header-default .header-main .header-content-inner .branding {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 200px;
  flex: 0 0 300px;
  width: 200px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-default .stuck img {
  max-width: 200px !important;
  margin: 10px 0 0 0;
}

.stuck .navigation .gva_menu > li > a {
  font-size: .85rem;
}

.stuck .header-content-inner .branding .site-branding-logo {
  padding: 0 !important;
}

.gv-sticky-menu {
  -webkit-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.35s;
}

/**/

/* Front Node */
.frontpage .gbb-row .bb-inner {
  padding-top: 15px;
  padding-bottom: 15px;
}

.frontpage h5 {
  line-height: 1.5;
  color: #797f89;
}

.frontpage .breadcrumb-content-inner .gva-block-breadcrumb.text-light .page-title {
  top: 110px;
  position: absolute;
  margin: 0 auto;
  text-align: center;
  font-size: 35px;
}

.frontpage .breadcrumb-content-inner .breadcrumb-content-main {
  padding: 0 0 2rem !important;
  padding-top: 170px !important;
}

.frontpage .block.block-system-breadcrumb-block {
  margin-bottom: -100px;
}

.frontpage div#content {
  margin: 100px 0 0 0;
}

.georgiabev-title .gabev-icon a {
  color: #5b5d59;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.2;
}

.georgiabev-title h5 a {
  color: #de4928;
  text-decoration: none;
  font-size: 1rem;
  line-height: 1.1;
}

.georgiabev-title h5 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.georgiabev-title p {
  font-size: .85rem;
  line-height: 1.3;
  border-bottom: 1px solid #e3e0e0;
  padding-bottom: 10px;
}

.georgiabev-title .item-columns {
  padding: 0 3.2rem !important;
}

div#block-twitterbutton {
  display: block;
  padding-bottom: 30px;
}

/**/

/* Footer */
#footer .footer-center {
  padding: 30px 0;
}

#footer .copyright {
  background: #2f2f2f;
  border-top: 1px solid #2f2f2f;
  color: white;
  padding: 20px 0;
}

#footer {
  color: white;
  background: #4a4a4a;
}

#footer a {
  color: white;
}

#footer a:hover {
  color: white !important;
  text-decoration: underline !important;
}

#footer p {
  margin-top: 0;
  margin-bottom: 1rem;
  color: white;
}

#footer .gva-navigation {
  margin: 0;
}

#footer .gva-navigation a {
  color: white;
}

#footer .navigation .gva_menu > li > a {
  color: white !important;
  padding: 0 10px 0 0;
}

#footer .navigation .gva_menu > li {
  display: flex;
}

#footer li.menu-item {
  margin: 0 0 1rem;
}

#footer .footer-center {
  color: white;
  background: url(/themes/custom/ziston_sub/images/bg-footer.jpg) no-repeat #3e3e3e;
}

#footer .content-right .title {
  text-transform: initial !important;
}

/* Twitter footer */
#footer p {
  margin-top: 0;
  margin-bottom: 1rem;
}

#footer .footer-top {
  color: #262626;
!important;
  background: #fff !important;
}

#footer .contextual a,
.contextual a {
  color: #262626;
!important;
}

ul.twitter-feed li {
  background: #fff !important;
}

ul.twitter-feed li {
  display: inline-flex;
  width: 25%;
}

#footer .footer-top .block .block-title span {
  color: dimgrey !important;
}

#footer .footer-top h2.block-title::before {
  font-family: 'FontAwesome';
  color: #de4928;
  content: '\f099';
  margin: 0 .5rem 0 0;
}

.twitter-wrapper a,
.twitter-wrapper a:link {
  color: #de4928;
}

.twitter-wrapper h6 {
  color: #52808e !important;
  margin-top: 0;
  margin-bottom: 10px;
}

.twitter-wrap-it {
  padding: 0 0 0 10px;
}

#footer .twitter-wrapper p {
  margin-top: 0;
  margin-bottom: 1rem;
  color: #262626;
  font-size: .9rem;
  line-height: 1.7;
}

span.twitter-date,
span.twitter-time {
  font-size: .8rem;
  font-weight: 800;
  margin: 0 10px 0 0;
}

.twitter-wrapper .col {
  padding: 0 4rem 0 0 !important;
}

/**/

/* Floating Bubbles */
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
    top: 1200px;
  }
  25% {
    opacity: .75;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: .5;
  }
  100% {
    opacity: 0;
    top: -10px;
  }
}

.bubble-wrapper {
  display: inline;
  text-align: center;
  margin: 0 auto;
  height: 100vmin;
}

.bubble {
  opacity: 0;
  display: inline;
  position: absolute;
  margin: 0 auto;
  float: left;
  text-align: center;
  -webkit-animation: fade-in 2s infinite;
  animation-duration: 20s;
  animation-iteration-count: 2;
  width: 20px;
  bottom: -30px;
  z-index: 1;
}

.bubble-animated-one {
  -webkit-animation-delay: 2s;
  left: 10%;
}

.bubble-animated-two {
  -webkit-animation-delay: 8s;
  left: 75%;
}

.bubble-animated-three {
  -webkit-animation-delay: 14s;
  left: 40%;
}

.bubble-animated-four {
  -webkit-animation-delay: 20s;
  width: 25px;
  left: 70%;
}

.bubble-animated-five {
  -webkit-animation-delay: 25s;
  animation-iteration-count: 1;
  width: 50px;
  left: 85%;
}

/**/

/* Miscellaneous */
.region-main-page-content.layout-with-sidebar {
  padding: 0;
}

.contact-info .contact-phone-box .content-inner .content-right .desc {
  font-size: 16px;
  color: #fff;
  font-weight: 400;
}

.flaticon-magnifying-glass:before {
  color: white;
}

.gabev-icon img {
  vertical-align: middle;
  top: -2px !important;
  margin: 0 3px 0 0;
  position: relative;
}

.gabev-icon a {
  color: #de4928;
}

.gabev-icon a:HOVER {
  color: black;
}

#listing-main-map .gva-icon-map .icon-map .icon-cat {
  content: '';
  background: url(../images/ga-state-trans.png) no-repeat center center;
  background-size: auto;
  background-size: 30px 30px;
}

.btn-theme-small {
  font-weight: 500 !important;
}

.gva-user-region.show .user-content a {
  color: #de4928;
}

#remove-pt .bb-inner.remove_margin {
  padding-top: 0 !important;
  margin-top: 0 !important;
}

.path-taxonomy ul[data-drupal-views-infinite-scroll-pager].pager {
  margin: 0 0 30px 30px;
}

.path-taxonomy .page-title {
  margin: 50px 0 0 0;
}

.gbb-row .bb-inner {
  padding-top: 80px;
  padding-bottom: 80px;
}

.contact-info .logo-footer {
  margin-bottom: 25px;
  max-width: 70% !important;
}

.contact-info .contact-phone-box .content-inner .content-right .title {
  color: white;
}

.desc.pl-5 {
  margin: 0 0 0 15px;
}

.fa-solid.fa-phone-volume,
.fa-solid.fa-fax {
  color: #de4928;
  margin-right: .5rem;
}

.contact-info h3.title {
  font-size: 18px !important;
  margin: 0 0 0.5rem !important;
}

body .copyright-inner {
  font-size: .8rem !important;
}

.control-search-2 {
  background: #de4928;
  border-radius: 20px;
  padding: 0 15px;
}

.control-search-2 a {
  color: white !important;
}

span.site-branding-logo-footer {
  margin: 0 1rem 0 0;
}

span.site-branding-logo-footer-links {
  padding: 0.25rem 0 0;
  display: inline-block;
}

.spin-cap img {
  transition: transform .7s ease-in-out;
}

.spin-cap img:hover {
  transform: rotate(360deg);
}

#footer .navigation .gva_menu > li > a:hover,
#footer .footer-link a:hover,
#footer .footer-first a:hover {
  text-decoration: underline !important;
}

#footer a:hover {
  text-decoration: none !important;
}

.listing-block.teaser_1 .content-footer, .listing-block.teaser_3 .content-footer {
  margin-top: 0;
}

.listing-block.teaser_1, .listing-block.teaser_3 {
  min-height: 225px;
}

#listing-main-map .gva-icon-map .icon-map .icon-cat {
  transition: transform .7s ease-in-out;
}

#listing-main-map .gva-icon-map .icon-map .icon-cat:hover {
  transform: rotate(360deg);
}

.col.contact-block {
  padding: 0 0 0 30px !important;
}

.btn.btn-primary,
.more-link a {
  font-size: 10px;
  background: #0a6fb4;
  color: #fff;
  font-weight: 600;
  padding: 10px 20px;
  line-height: 1.2;
  letter-spacing: 3px;
  text-decoration: none;
}

.btn.btn-primary:hover,
.more-link a:hover {
  background: #de4928;
}

.js-pager__items {
  display: inline-flex;
}

#member-block ul li {
  list-style: none !important;
}

.more-link {
  margin-top: .5rem;
}

div#block-twitterfeedblock h2.block-title::before {
  font-family: 'FontAwesome';
  color: #de4928;
  content: '\f099';
  margin: 0 .5rem 0 0;
}

.twitter-feed-wrapper h2 {
  margin-bottom: 1rem !important;
  border-bottom: 1px solid #e7e7e7;
  padding: 0 0 .5rem;
}

.node-2 .node__content img {
  float: left;
  margin: 10px 10px 10px 5px;
}

.node-2 .node__content p {
  text-align: justify;
}

.twitter-feed-wrapper {
  margin: 2rem 3rem !important;
  padding: 0;
}

.timeago {
  font-size: 12px;
  font-weight: 800;
}

.tweet-text p {
  font-size: 14px;
  line-height: 1.5;
  color: #6f6f6f;
  margin-bottom: 5px;
}

.twitter-date::before {
  font-family: 'FontAwesome';
  color: #de4928;
  content: '\f133';
  margin: 0 .5rem 0 0;
}

.twitter-time::before,
.timeago::before {
  font-family: 'FontAwesome';
  color: #de4928;
  content: '\f017';
  margin: 0 .5rem 0 0;
}

.tweet-screen h6 a {
  color: #52808e !important;
}

/*******/
/*******/
/*******/
@media (max-width: 768px) {
  .header-default .header-main .header-content-inner .branding .site-branding-logo img {
    max-width: 60%;
  }

  .menu-bar {
    top: 44%;
    right: 10px;
  }

  .topbar .topbar-wrapper {
    max-width: 100%;
    padding: 0;
  }

  .gva-offcanvas-mobile .gva-navigation .gva_menu li a .icaret {
    right: -40px;
  }

  #block-gaviascontentbuilderfrontlogos .gsc-column.col-xxl-2.col-xl-2.col-lg-2.col-md-2.col-sm-4.col-xs-12 {
    max-width: 49.5% !important;
  }

  .map-layout-wrapper .btn-theme-small {
    font-size: 10px;
    padding: 0 5px;
    line-height: 2;
  }

  .breadcrumb-content-main {
    padding: -60px 50px 50px 50px !important;
  }

  .breadcrumb-style {
    margin-top: -67px !important;
  }

  .gsc-heading.style-1 .title {
    font-size: 20px !important;
  }

  .node-129 .widget.gsc-heading.align-center.style-1 .px-5 {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }

  .gsc-heading .sub-title {
    font-size: 14px !important;
  }

  .breadcrumb-content-inner .gva-block-breadcrumb .page-title {
    font-size: 33px;
  }

  h2.page-title::after {
    display: none;
  }

  .breadcrumb.text-light .page-title {
    font-size: 29px;
  }

  .topbar .topbar-wrapper .topbar-content {
    padding: 0 10px;
  }

  .frontpage .breadcrumb-content-inner .gva-block-breadcrumb.text-light .page-title {
    font-size: 24px !important;
  }

  .topbar .topbar-wrapper .topbar-content .topbar-right {
    flex: none;
  }

  .topbar .topbar-wrapper .topbar-content .topbar-left {
    display: list-item;
  }

  .breadcrumb-content-inner .breadcrumb-content-main {
    padding: 162px 15px 1px;
  }

  h3 {
    font-size: 23px;
  }

  .topbar .topbar-wrapper .topbar-content .topbar-right > .content-inner .search-region {
    margin-right: 22px;
  }

  .gva-offcanvas-mobile .gva-navigation .gva_menu > li ul.menu.sub-menu li a {
    line-height: 1.4;
  }

  ul.twitter-feed li {
    display: inline-flex;
    width: 100%;
  }

  .sidebar .block {
    background: #F0F3F6;
    padding: 15px 15px;
  }

  .twitter-feed-wrapper {
    margin: 1rem 15px !important;
    padding: 0;
  }

  div#block-gaviascontentbuilderfrontlogos {
    margin: 0;
  }

  h5 {
    font-size: 1.1rem;
  }

  body {
    font-size: .95rem;
    line-height: 1.5;
  }

  .sidebar {
    margin: 30px 0 0;
  }

  .sidebar .block {
    background: #fff;
  }

}

